<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.spicejet.qa.testcases.LoginPageTest"/>
      <class name="com.spicejet.qa.testcases.BookingPageTest"/>
      <class name="com.spicejet.qa.testcases.DealsPageTest"/>
      <class name="com.spicejet.qa.testcases.SMProfilePageTest"/>
      <class name="com.spicejet.ExtentReportListner.HandleMultipleBrowsers"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
